<a href="https://colab.research.google.com/github/AMB-Git-Hub/BIDS_Uebungen/blob/main/Andreas_Bucher_ETLAufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# import libraries
import sqlite3
from sqlite3 import Error

In [6]:
# mount drive to access data
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
material_path = "/content/drive/MyDrive/allergy/"
!ls {material_path} #Liste aller CSV Dateien
src_db = f"/content/drive/MyDrive/source_allergy_test.db"
!ls {src_db} #Liste aller CSV Dateien

 allergy_test.db	 encounters.gsheet	    patients.csv
'careplans (1).gsheet'	 imaging_studies.csv	    payers.csv
 careplans.csv		 imaging_studies.gsheet     payer_transitions.csv
 careplans.gsheet	 immunizations.csv	    procedures.csv
 conditions.csv		 medications.csv	    procedures.gsheet
 devices.csv		'observations (1).gsheet'   providers.csv
 disease.csv		 observations.csv	    source_allergy_test.db
 disease.gsheet		 observations.gsheet	    supplies.csv
 encounters.csv		 organizations.csv
/content/drive/MyDrive/source_allergy_test.db

# Python SQLite Guide

In [9]:
# SQLite connection
def create_connection_memory():
    """ create a database connection to a database that resides
        in the memory
    """
    conn = None;
    try:
        conn = sqlite3.connect(':memory:')
        return conn
        print(sqlite3.version)
    except Error as e:
        print("Error while connecting to sqlite", e)
    # finally:
    #     if conn:
    #         conn.close()

In [10]:
# create a temporary empty database in the memory.
conn = create_connection_memory()
cur = conn.cursor()
print("Successfully Connected to SQLite")

Successfully Connected to SQLite

In [ ]:
# Create SQLite table
create_table_query = '''CREATE TABLE SqliteDb_developers (
                                id INTEGER PRIMARY KEY,
                                name TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                joining_date datetime,
                                salary REAL NOT NULL);'''

cur.execute(create_table_query)
conn.commit()
print("SQLite table created")

SQLite table created

In [ ]:
# list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('SqliteDb_developers',)]

In [ ]:
# insert into table
cur.execute("INSERT INTO SqliteDb_developers (id,  name, email, salary) VALUES (1, 'name1', 'name1@gmail.com', 1000)")

In [ ]:
# insert into table-Larger example
rows = [(2, 'name2', 'name2@gmail.com', '2006-02-28', 2000),
        (3, 'name3', 'name3@gmail.com', '2006-03-05', 3000),
        (4, 'name4', 'name4@gmail.com', '2006-04-06', 4000)]
cur.executemany('insert into SqliteDb_developers values (?,?,?,?,?)', rows)
conn.commit()

In [ ]:
select_query = "SELECT * FROM SqliteDb_developers"
cur.execute(select_query)
records = cur.fetchall()
print("Total rows in table: ", len(records))
for row in records:
  print(row)

Total rows in table:  4
(1, 'name1', 'name1@gmail.com', None, 1000.0)
(2, 'name2', 'name2@gmail.com', '2006-02-28', 2000.0)
(3, 'name3', 'name3@gmail.com', '2006-03-05', 3000.0)
(4, 'name4', 'name4@gmail.com', '2006-04-06', 4000.0)

In [ ]:
# select with parameters
select_query = """select * from SqliteDb_developers where id = ?"""
cur.execute(select_query, (1,))
records = cur.fetchall()
print("Printing ID ", id)
for row in records:
    print("Name = ", row[1])
    print("Email  = ", row[2])
    print("JoiningDate  = ", row[3])
    print("Salary  = ", row[4])

Printing ID  <built-in function id>
Name =  name1
Email  =  name1@gmail.com
JoiningDate  =  None
Salary  =  1000.0

In [ ]:
# update table
cur.execute("UPDATE SqliteDb_developers SET Email=? WHERE id =?", ('Uname2@gmail.com', 2))
print("Number of rows updated: {}".format(cur.rowcount))

Number of rows updated: 1

In [ ]:
# access to metadata (tables and columns) using PRAGMA
cur.execute("PRAGMA table_info(SqliteDb_developers);")
data = cur.fetchall()
# print(data)
for d in data:
  print(d[0], d[1], d[2])

0 id INTEGER
1 name TEXT
2 email text
3 joining_date datetime
4 salary REAL

In [ ]:
# Excute whole SQL code in one step
cur.executescript("""
        DROP TABLE IF EXISTS patient_table;
        CREATE TABLE patient_table(patient_id INT, name TEXT, diagnose Text, birthdate datetime);
        INSERT INTO patient_table VALUES(10, 'name1', 'Asthma', '2006-02-28');
        INSERT INTO patient_table VALUES(20, 'name1', 'Asthma', '2007-02-28');
        INSERT INTO patient_table VALUES(30, 'name1', 'Asthma', '2008-02-28');
        INSERT INTO patient_table VALUES(40, 'name1', 'Asthma', '2009-02-28');
        DELETE FROM patient_table WHERE patient_id > 30;
     """)
conn.commit()
# cur.execute("DELETE FROM SqliteDb_developers WHERE id < 3")
cur.execute("SELECT COUNT(patient_id) FROM patient_table")
cur.fetchone()

(3,)

There are more information in:

http://zetcode.com/db/sqlitepythontutorial/

https://pynative.com/python-sqlite/

https://stackoverflow.com/questions/228912/sqlite-parameter-substitution-problem

# Exercises

### Connect to the database and see how many tables it contains

In [8]:
# Connect to source database
def create_connection(db_file):
  """ create a database connection to SQLite database"""
  conn = None
  try:
    conn = sqlite3.connect(db_file)
    return conn
  except Error as error:
    print("Error while connecting to sqlite", error)
  # finally:
  #   if conn:
  #     conn.close()

In [9]:
src_db = f"/content/drive/MyDrive/source_allergy_test.db"
src_conn = create_connection(src_db)
src_cur = src_conn.cursor()
print("Database connection is successfully")

Database connection is successfully

### Query the tables, join two tables

In [10]:

src_cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(src_cur.fetchall()) #die Namen aller Tabellen in der Datenmbank

[('disease',), ('patients',), ('encounters',), ('careplans',), ('conditions',), ('medications',), ('procedures',), ('observations',), ('devices',), ('imaging_studies',), ('immunizations',)]

In [11]:
src_cur.execute("SELECt * FROM patients")
records = src_cur.fetchall()
for row in records:
  print(row)

('27b0d72c-f2fb-7e25-38c0-7d5120ebbedf', '1945-04-17', '', '999-93-9618', 'S99971149', 'X1878420X', 'Mrs.', 'Emmie273', 'Schoen8', '', 'Heidenreich818', 'M', 'white', 'nonhispanic', 'F', 'Lexington  Massachusetts  US', '1056 Hegmann Mall', 'Kingston', 'Massachusetts', 'Plymouth County', 2364, 41.99610576466808, -70.78620468702952, 63141.11, 3176.7799999999997)
('17f0c6d9-8931-8839-66cb-3ca6fb066d3e', '1959-05-31', '', '999-17-6461', 'S99999085', 'X20851735X', 'Mr.', 'Karl184', 'Stroman228', '', '', 'M', 'white', 'nonhispanic', 'M', 'Sturbridge  Massachusetts  US', '1080 Boyer Brook Suite 22', 'Sutton', 'Massachusetts', 'Worcester County', '', 42.12612989310728, -71.7498484885064, 1333971.83, 4339.049999999999)
('aff157cc-b6d3-412b-ccbe-bfd5fac1c2d5', '1991-11-27', '', '999-29-1688', 'S99979872', 'X48771954X', 'Mr.', 'Monty345', 'Krajcik437', '', '', 'M', 'white', 'nonhispanic', 'M', 'Watertown  Massachusetts  US', '657 Fay Road Suite 26', 'Haverhill', 'Massachusetts', 'Essex County', 1830, 42.76323651816181, -71.11770429170777, 735728.62, 4015.3999999999996)
('e92765c7-1c4b-9ee7-dbc8-5300fcb40a54', '2001-11-18', '', '999-30-3448', 'S99973612', '', 'Mr.', 'Hugo693', 'Valencia279', '', '', '', 'black', 'hispanic', 'M', 'Caracas  Capital District  VE', '762 Cormier Forge Apt 2', 'Boston', 'Massachusetts', 'Suffolk County', 2108, 42.39108330298497, -71.04118216051297, 58484.07, 2829.75)
('3575b903-dbd0-1d55-6146-9e8aa4ed52a5', '1941-12-22', '', '999-73-1683', 'S99984672', 'X13615296X', 'Mrs.', 'Hayley136', 'Schamberger479', '', 'Vandervort697', 'M', 'white', 'nonhispanic', 'F', 'Everett  Massachusetts  US', '217 Nitzsche Green Apt 80', 'Easthampton', 'Massachusetts', 'Hampshire County', 1027, 42.28232301628463, -72.65678344319232, 1546947.37, 9558.05)
('9bbbcada-7a45-92f0-6ae6-d197bcefc0d4', '1951-12-14', '', '999-19-9566', 'S99994195', 'X5151952X', 'Mr.', 'Jamison785', 'Marvin195', '', '', 'M', 'white', 'nonhispanic', 'M', 'Boston  Massachusetts  US', '580 Reichert Viaduct', 'Methuen', 'Massachusetts', 'Essex County', 1844, 42.73404471540759, -71.15670782359575, 1424882.97, 8444.67)
('28124841-1cf3-2818-d4ee-8574fac23298', '1973-11-29', '', '999-19-4122', 'S99979439', 'X71014102X', 'Mr.', 'Adalberto916', 'Leffler128', '', '', 'M', 'white', 'nonhispanic', 'M', 'Cambridge  Massachusetts  US', '476 Kunde Trafficway', 'Charlton', 'Massachusetts', 'Worcester County', '', 42.15445818576396, -71.98244116176556, 965145.65, 4051.2799999999997)
('bdf7af8e-c765-1e02-dc9d-24b49ad290a3', '1987-10-30', '', '999-46-3731', 'S99939980', 'X32802305X', 'Mr.', 'Rich940', 'Jakubowski832', '', '', 'M', 'white', 'nonhispanic', 'M', 'Marlborough  Massachusetts  US', '103 McCullough Estate Unit 6', 'Fall River', 'Massachusetts', 'Bristol County', '', 41.55295339213492, -71.12160123955184, 7044.3099999999995, 0)
('03127a78-1c85-5b31-d4d5-14e941262148', '2017-10-27', '', '999-74-2302', '', '', '', 'Annamae625', 'Lindgren255', '', '', '', 'white', 'nonhispanic', 'F', 'Peabody  Massachusetts  US', '727 Blick Route', 'Williamsburg', 'Massachusetts', 'Hampshire County', '', 42.43773136996866, -72.72494068904952, 25142.239999999998, 645.8)
('b202a7c5-b5b7-cf47-d5a6-d41e468d06c7', '1998-12-31', '', '999-72-7790', 'S99990909', 'X80843702X', 'Ms.', 'Lilliam592', 'Hickle134', '', '', '', 'black', 'nonhispanic', 'F', 'Cambridge  Massachusetts  US', '764 Mohr Bridge', 'Waltham', 'Massachusetts', 'Middlesex County', 2472, 42.34624978743746, -71.21796769228828, 68606.64, 3923.1599999999994)
('c7660878-881a-ce61-1915-9bafed46d44e', '2020-01-15', '', '999-25-2232', '', '', '', 'Tanner110', 'Feeney44', '', '', '', 'white', 'nonhispanic', 'M', 'Chester  Massachusetts  US', '650 McCullough Parade', 'Quincy', 'Massachusetts', 'Norfolk County', 2171, 42.26313610898867, -71.00067700647297, 22065, 658.29)
('185cb1a5-97bc-2d60-3ee1-fae44b48d585', '1975-11-13', '', '999-58-8679', 'S99992269', 'X30976071X', 'Mrs.', 'Cary869', 'Orn563', '', 'Lind531', 'M', 'white', 'nonhispanic', 'F', 'Fall River  Massachusetts  US', '869 Reichel Track Suite 74', 'Sturbridge', 'Massachusetts', 'Worcester County', 1507, 42.0979561577297, -72.09218966196636, 267876.72, 3413.2599999999998)
('cebf1170-4239-424b-e9e6-7ff000595af3', '1980-07-13', '', '999-47-2580', 'S99950541', 'X50139345X', 'Mrs.', 'Leeanna836', 'Hagenes547', '', 'Cormier289', 'M', 'black', 'nonhispanic', 'F', 'Boston  Massachusetts  US', '718 Hammes Glen', 'Brockton', 'Massachusetts', 'Plymouth County', 2302, 42.13095349802204, -70.97572634672657, 892287.81, 6094.309999999999)
('81bbbf6e-8c14-a217-9045-85d5f9fc689f', '1985-10-20', '', '999-69-9964', 'S99931332', 'X65301057X', 'Mrs.', 'Charis952', 'Koss676', '', 'Schimmel440', 'M', 'white', 'nonhispanic', 'F', 'Boston  Massachusetts  US', '938 Langosh Gateway Suite 58', 'Chelsea', 'Massachusetts', 'Suffolk County', 2149, 42.429794491532775, -71.07377204682754, 842738.8300000001, 6537.489999999999)
('d6d70096-ab54-ad6d-ec5a-0a5d2639556a', '1979-06-06', '', '999-22-5151', 'S99953421', 'X24299596X', 'Ms.', 'Georgia502', 'Ruecker817', '', '', 'S', 'asian', 'nonhispanic', 'F', "Macau  Macao Special Administrative Region of the People's Republic of China  CN", '757 Heller Ramp', 'Lowell', 'Massachusetts', 'Middlesex County', 1851, 42.59627873671827, -71.34130998823915, 894801.23, 10225.969999999998)
('6f0b3fb1-4c51-2002-0ab7-e4247002b4aa', '2015-03-05', '', '999-92-8370', '', '', '', 'Homer307', 'Prosacco716', '', '', '', 'white', 'nonhispanic', 'M', 'Worcester  Massachusetts  US', '139 Oberbrunner Lodge', 'Needham', 'Massachusetts', 'Norfolk County', 2494, 42.253620498920526, -71.19220706329561, 144960, 1825.73)
('232a81eb-4bcd-6b41-ae17-698d33a9b0f6', '1945-11-25', '', '999-26-4759', 'S99911836', 'X1766669X', 'Mr.', 'Nick779', 'Sipes176', '', '', 'M', 'white', 'nonhispanic', 'M', 'Millville  Massachusetts  US', '1032 Wiza Underpass Suite 79', 'Rehoboth', 'Massachusetts', 'Bristol County', '', 41.8389221765935, -71.19947293974454, 1364329, 5636.04)
('7a12d026-85c5-6543-0667-c04bb787dd22', '1951-11-07', '', '999-23-3619', 'S99920234', 'X82736809X', 'Mr.', 'Gabriel934', 'Bruen238', '', '', 'M', 'white', 'nonhispanic', 'M', 'Douglas  Massachusetts  US', '525 Ankunding Park', 'Dartmouth', 'Massachusetts', 'Bristol County', '', 41.554424812147474, -71.00293105887876, 225055.41, 6150)
('2afa0f38-c46e-7260-09f6-2f8261fd18c9', '1994-03-15', '', '999-22-2189', 'S99974340', 'X11493154X', 'Mr.', 'Mac103', 'Volkman526', '', '', '', 'white', 'nonhispanic', 'M', 'Boston  Massachusetts  US', '604 Daugherty Terrace', 'Clinton', 'Massachusetts', 'Worcester County', 1510, 42.43447553426932, -71.64038235872162, 644176.09, 2854.71)
('64a3ec03-d887-b745-cd43-ffb5f51de625', '2020-10-12', '', '999-31-4265', '', '', '', 'Lee268', 'Rath779', '', '', '', 'white', 'nonhispanic', 'M', 'Andover  Massachusetts  US', '762 Bradtke Path Suite 22', 'Stoughton', 'Massachusetts', 'Norfolk County', '', 42.11459921970478, -71.13752682272005, 3600, 129.16)
('6d0e20e0-ac68-77ef-9a55-3031c09306c4', '1999-10-27', '', '999-88-8978', 'S99942601', 'X63302587X', 'Mr.', 'Sal878', 'Macejkovic424', '', '', '', 'white', 'nonhispanic', 'M', 'Norton  Massachusetts  US', '138 Beahan Mews', 'North Andover', 'Massachusetts', 'Essex County', '', 42.65379554464302, -71.12977579633731, 68271.41, 27741.27)
('b76f2fc1-a2f0-0787-c5f8-3b0af800151b', '1989-03-04', '', '999-12-6743', 'S99958559', 'X7341928X', 'Ms.', 'Karen597', 'Koss676', '', '', 'S', 'white', 'nonhispanic', 'F', 'Mansfield  Massachusetts  US', '1025 Wolff Rapid Unit 71', 'Lawrence', 'Massachusetts', 'Essex County', 1840, 42.67959876722981, -71.16197303478366, 101317.97, 7181.7)
('6cf1912d-22da-29d6-4469-8d85ac6ba09d', '1966-01-17', '', '999-37-3195', 'S99950768', 'X38263975X', 'Mrs.', 'Misti388', 'Greenfelder433', '', 'Kuhic920', 'M', 'white', 'nonhispanic', 'F', 'Northampton  Massachusetts  US', '968 Mayer Mission Apt 37', 'North Andover', 'Massachusetts', 'Essex County', '', 42.723063989553566, -71.07747831698705, 1271608.68, 4673.49)
('e40dfba7-e1e1-84f7-ebc1-2c8854e1e14b', '1999-11-23', '', '999-94-2922', 'S99996735', 'X50178798X', 'Ms.', 'Myrtie622', 'Borer986', '', '', '', 'black', 'nonhispanic', 'F', 'Watertown  Massachusetts  US', '883 Schuster Flat Suite 70', 'Worcester', 'Massachusetts', 'Worcester County', 1606, 42.22225378472528, -71.79400106125182, 508868.49, 3062.2)
('579b5db3-b0a2-fb6f-c584-3ab5310ba479', '1966-09-16', '', '999-32-8364', 'S99969644', 'X87558936X', 'Mr.', 'Colton403', 'Frami345', '', '', 'S', 'white', 'nonhispanic', 'M', 'Marshfield  Massachusetts  US', '775 Altenwerth Junction Suite 85', 'Middleborough', 'Massachusetts', 'Plymouth County', '', 41.89879451197094, -70.87282282093616, 38148.19, 245.79999999999998)
('199405ce-98f7-41fe-1636-5cf934b96229', '1969-04-14', '', '999-78-6544', 'S99923680', 'X89402906X', 'Ms.', 'Brandon214', 'Kohler843', '', '', 'S', 'white', 'nonhispanic', 'F', 'Bridgewater  Massachusetts  US', '716 Rohan Lane Suite 68', 'Middleton', 'Massachusetts', 'Essex County', '', 42.58948118561335, -71.04084836034285, 1069466.26, 13034.769999999999)
('6192553b-4ac8-f17b-3a59-9155e759f916', '2004-02-19', '', '999-15-5840', 'S99935484', '', '', 'Shyla233', 'Kovacek682', '', '', '', 'white', 'nonhispanic', 'F', 'Boston  Massachusetts  US', '928 Beier Camp Suite 53', 'Danvers', 'Massachusetts', 'Essex County', 1923, 42.59715258465504, -70.99942405645696, 344634.3, 2687.32)
('8e17e1c2-74c3-2d9e-ee65-7ca73ec7a4c0', '1926-11-20', '2001-12-26', '999-99-1020', 'S99928583', 'X60321235X', 'Mr.', 'Luis923', 'Rodarte647', '', '', 'M', 'black', 'hispanic', 'M', 'Carolina  Puerto Rico  PR', '765 Kuhn Flat', 'Westfield', 'Massachusetts', 'Hampden County', 1085, 42.08708356692535, -72.76893397678135, 94677.52999999998, 328585.36000000004)
('7092af02-2583-ddbc-a483-e4a795c4c4ff', '2005-09-26', '', '999-68-2346', '', '', '', 'Dominica520', 'Yost751', '', '', '', 'white', 'nonhispanic', 'F', 'Dracut  Massachusetts  US', '760 Welch Harbor', 'Tewksbury', 'Massachusetts', 'Middlesex County', '', 42.65358633504711, -71.24031195125063, 364948.19, 3237.2599999999998)
('0e57d2dc-97dd-a77b-d9bf-c12082b6024c', '2006-09-16', '', '999-40-4210', '', '', '', 'Shamika26', 'Olson653', '', '', '', 'white', 'nonhispanic', 'F', 'Stoughton  Massachusetts  US', '602 Stark Manor Apt 3', 'Great Barrington', 'Massachusetts', 'Berkshire County', 1230, 42.23013329868305, -73.33985914069092, 325531.46, 3067.29)
('46d4e1c1-69fd-bd47-974f-5adddc632851', '1977-03-03', '', '999-93-9626', 'S99998218', 'X25180528X', 'Ms.', 'Mollie266', 'Blick895', '', '', 'S', 'white', 'nonhispanic', 'F', 'Marblehead  Massachusetts  US', '1049 Gerhold Ville Unit 83', 'Westborough', 'Massachusetts', 'Worcester County', 1581, 42.2343750099027, -71.64478065800165, 922688.51, 8852.259999999998)
('76761aa7-0144-aacd-c6bb-a3f6ff0bb5d6', '1969-04-23', '', '999-38-8272', 'S99970938', 'X58924567X', 'Mrs.', 'Caridad510', 'Montes106', '', 'Olivo261', 'M', 'white', 'hispanic', 'F', 'Portsmouth  Saint John Parish  DM', '809 Cole Station Apt 50', 'Randolph', 'Massachusetts', 'Norfolk County', 2368, 42.20626513553726, -71.06463542164956, 1187775.7, 8055.249999999998)
('70b43d3b-b0b5-1ffa-8e48-7a6c011cb5cb', '2002-11-20', '', '999-53-2883', 'S99971963', '', '', 'Susann104', 'Murray856', '', '', '', 'white', 'nonhispanic', 'F', 'Wellesley  Massachusetts  US', '186 Cassin Gate', 'Tewksbury', 'Massachusetts', 'Middlesex County', '', 42.633981426213666, -71.2560608880989, 414355.27, 2877.2299999999996)
('70b9a690-ce31-9c3b-83bc-ee83dfa89040', '1959-11-28', '', '999-18-9193', 'S99956436', 'X30441069X', 'Mr.', 'Leif534', 'Kovacek682', '', '', 'M', 'white', 'nonhispanic', 'M', 'Groton  Massachusetts  US', '729 Gaylord Bay', 'Tewksbury', 'Massachusetts', 'Middlesex County', '', 42.61389704089025, -71.19689019463925, 17901.99, 0)
('da8bdc12-f30b-1bff-b7be-13498a2cfabe', '1995-01-17', '', '999-89-3786', 'S99974657', 'X78681029X', 'Ms.', 'Cassondra930', 'Bogisich202', '', '', '', 'white', 'nonhispanic', 'F', 'Cambridge  Massachusetts  US', '718 Schiller Course Unit 17', 'Springfield', 'Massachusetts', 'Hampden County', 1104, 42.1725418154899, -72.60282297963853, 593891.79, 4846.98)
('c8e93b35-560b-a4dc-12c2-beb0a3133fc2', '2005-09-30', '', '999-69-4839', '', '', '', 'Fabian647', 'Ziemann98', '', '', '', 'white', 'nonhispanic', 'M', 'Waltham  Massachusetts  US', '404 Thompson Underpass Unit 33', 'Quincy', 'Massachusetts', 'Norfolk County', 2186, 42.28430401141299, -70.97298178137414, 346779.5, 3001.43)
('4c4c7f22-01a1-c505-4b84-daf056c5a4c7', '1971-04-12', '', '999-99-7841', 'S99923128', 'X36353051X', 'Mr.', 'Fletcher87', 'Yost751', '', '', 'M', 'white', 'nonhispanic', 'M', 'Braintree  Massachusetts  US', '894 Goldner Bay Apt 50', 'Marblehead', 'Massachusetts', 'Essex County', 1945, 42.485335018471105, -70.86421789193936, 1017727.82, 2643.04)
('8ba5469f-0e7d-8f3a-2c26-e5996ffcaa90', '1982-02-26', '', '999-46-2108', 'S99968332', 'X58597258X', 'Mrs.', 'Richelle340', 'Deckow585', '', 'DuBuque211', 'M', 'white', 'nonhispanic', 'F', 'Boston  Massachusetts  US', '941 Jakubowski Bypass Unit 25', 'Leominster', 'Massachusetts', 'Worcester County', 1453, 42.56532894634234, -71.78755768540731, 86744.53, 4115.339999999999)
('7d71e31c-2191-afb0-8541-0b23ba60423e', '2020-04-29', '', '999-88-9352', '', '', '', 'Bennie663', 'Gleichner915', '', '', '', 'white', 'nonhispanic', 'M', 'Woburn  Massachusetts  US', '1015 Jacobs Knoll Suite 87', 'Natick', 'Massachusetts', 'Middlesex County', '', 42.29231811501473, -71.37904408207862, 15400, 516.64)
('76b34f45-0c3d-ec87-660a-4bd358b30068', '2010-03-31', '', '999-10-6679', '', '', '', 'Otis335', 'Adams676', '', '', '', 'white', 'nonhispanic', 'M', 'Taunton  Massachusetts  US', '941 Reichel Throughway Unit 72', 'Randolph', 'Massachusetts', 'Norfolk County', '', 42.21097878865266, -71.05275373791979, 230856.54, 2509.2999999999997)
('46cdc565-e220-98df-17b2-f9080c8d7f43', '1972-07-08', '', '999-74-5376', 'S99962535', 'X30911692X', 'Ms.', 'Joeann663', 'Ryan260', '', '', 'S', 'white', 'nonhispanic', 'F', 'Lancaster  Massachusetts  US', '988 Ullrich Passage Unit 28', 'Westborough', 'Massachusetts', 'Worcester County', 1581, 42.30066362036251, -71.65920275918901, 1128294.59, 9873.47)
('560a4b1a-5d16-3a8d-144a-e5f36f801a4e', '1976-09-28', '', '999-67-2680', 'S99998345', 'X26504668X', 'Mrs.', 'Lael572', 'Rutherford999', '', 'Lubowitz58', 'M', 'white', 'nonhispanic', 'F', 'Raynham  Massachusetts  US', '916 Hermann Walk', 'Westford', 'Massachusetts', 'Middlesex County', '', 42.58791159383013, -71.44384174937028, 841139.86, 15865.999999999998)
('2ea55f1c-a18b-ae18-0e8c-c57cf8ecf7db', '1974-06-20', '', '999-46-4925', 'S99950279', 'X69126658X', 'Mrs.', 'Rosa195', 'Camarillo982', '', 'Esquibel766', 'M', 'white', 'hispanic', 'F', 'Santo Domingo  National District  DO', '605 Boehm Trace', 'Hanover', 'Massachusetts', 'Plymouth County', '', 42.1660697381409, -70.81030210307424, 966198.31, 7331.909999999999)
('6f74fd66-9dbd-b126-0c0f-55b798c2a014', '2002-11-27', '', '999-75-5123', 'S99927674', '', '', 'Wilma646', 'Johnston597', '', '', '', 'white', 'nonhispanic', 'F', 'Springfield  Massachusetts  US', '1076 Shields Hollow Unit 60', 'Needham', 'Massachusetts', 'Norfolk County', 2494, 42.282073816499086, -71.28048311840229, 369255.94, 2576.48)
('1f6021bb-af44-0c89-581b-398d7563fbaf', '2002-12-07', '', '999-71-3738', 'S99970428', '', '', 'Virgil85', 'Wuckert783', '', '', '', 'white', 'nonhispanic', 'M', 'Randolph  Massachusetts  US', '857 Hammes Vale Apt 71', 'Leicester', 'Massachusetts', 'Worcester County', '', 42.19522453954839, -71.87861881384126, 55808.12, 3116.3199999999997)
('5c4b7faa-d763-184e-79e8-68740cf5eb45', '1977-04-12', '2002-06-12', '999-50-8272', 'S99927138', 'X53700898X', 'Mr.', 'Reynaldo722', 'Considine820', '', '', '', 'white', 'nonhispanic', 'M', 'Springfield  Massachusetts  US', '210 Walker Mission Suite 93', 'Marshfield', 'Massachusetts', 'Plymouth County', '', 42.11922258606013, -70.68439672041158, 520199.57, 1720.6)
('78164a52-51dd-920e-68f5-d569834ce3fc', '1999-07-18', '', '999-58-5872', 'S99936343', 'X49300159X', 'Mr.', 'Clayton230', 'Lowe577', '', '', '', 'white', 'nonhispanic', 'M', 'Malden  Massachusetts  US', '646 Gulgowski Highlands Suite 22', 'Watertown', 'Massachusetts', 'Middlesex County', 2472, 42.4017691811823, -71.18313111685734, 439150.56, 2563.96)
('d5abba4d-3ed6-7ade-ab44-bbda132e6366', '2013-09-27', '', '999-93-1260', '', '', '', 'Neva514', 'Effertz744', '', '', '', 'white', 'nonhispanic', 'F', 'Tisbury  Massachusetts  US', '313 Hauck Landing', 'Cambridge', 'Massachusetts', 'Middlesex County', 2472, 42.41162855029036, -71.05091688756382, 172233.16, 2143.21)
('a7910f38-b9fa-0e0b-dfd7-1299f957a88e', '1926-11-20', '2020-03-16', '999-25-7242', 'S99910836', 'X7717955X', 'Mr.', 'Hernán834', 'Soto31', '', '', 'M', 'black', 'hispanic', 'M', 'Santiago de los Caballeros  Santiago  DO', '719 Klein Meadow Apt 65', 'Westfield', 'Massachusetts', 'Hampden County', 1086, 42.17494818093496, -72.75649860829651, 1581496.7, 13071.929999999998)
('d202e4b1-e80e-3045-1c41-d54aa3cd12c6', '1963-10-20', '', '999-37-4228', 'S99947695', 'X11000939X', 'Mrs.', 'Jeanett771', 'Reilly981', '', 'Becker968', 'M', 'white', 'nonhispanic', 'F', 'Bedford  Massachusetts  US', '1080 Denesik Estate Suite 81', 'Cambridge', 'Massachusetts', 'Middlesex County', 2139, 42.4123390312646, -71.07172547299076, 1225539.23, 11618.319999999998)
('186f9a68-3952-629f-ed41-99cad7be4981', '1960-12-28', '2013-07-18', '999-46-8289', 'S99994283', 'X37114438X', 'Mrs.', 'Carolina179', 'Alcántar600', '', 'Madrigal893', 'M', 'black', 'hispanic', 'F', 'Juarez  Chihuahua  MX', '433 Gaylord Key Apt 26', 'Sturbridge', 'Massachusetts', 'Worcester County', 1507, 42.129883900316074, -72.07492012225103, 1161802.89, 8820.589999999998)
('3bba2d79-59f0-7464-c2c5-76583577492c', '1983-02-20', '', '999-17-7282', 'S99969281', 'X3212028X', 'Mrs.', 'Joanne343', 'Lemke654', '', 'Blanda868', 'M', 'white', 'nonhispanic', 'F', 'Chelmsford  Massachusetts  US', '545 Schulist Avenue', 'Bellingham', 'Massachusetts', 'Norfolk County', '', 42.03004876137714, -71.43532113520634, 121806.27, 10149.579999999998)
('fb6e6891-2515-b709-0435-c5fb14cf247a', '1977-04-12', '', '999-82-1585', 'S99926776', 'X19688157X', 'Mr.', 'Ezequiel972', 'McLaughlin530', '', '', 'M', 'white', 'nonhispanic', 'M', 'Weston  Massachusetts  US', '570 Lind Route', 'Marshfield', 'Massachusetts', 'Plymouth County', '', 42.14813537244365, -70.66566720767457, 1072585.06, 6742.5599999999995)
('f6d82318-d684-06a2-bf94-193e0865177e', '1955-04-05', '', '999-57-5516', 'S99955031', 'X78690809X', 'Mr.', 'Cole117', 'Hickle134', '', '', 'M', 'black', 'nonhispanic', 'M', 'Rockland  Massachusetts  US', '772 Lowe Loaf', 'Boston', 'Massachusetts', 'Suffolk County', '', 42.3831266790262, -71.01384766879742, 1723300.31, 4903.8)
('856aa613-c31e-71e1-69a7-a6ad5a4e67e7', '1963-07-23', '', '999-28-3580', 'S99933742', 'X44868378X', 'Ms.', 'Luanne915', 'Gusikowski974', '', '', 'S', 'white', 'nonhispanic', 'F', 'Lawrence  Massachusetts  US', '178 Russel Loaf Suite 66', 'Amherst', 'Massachusetts', 'Hampshire County', '', 42.33885185389055, -72.54978169961049, 1441497.73, 6974.539999999999)
('2fa0fa6a-93b2-ffda-76fd-a693ed58d530', '1960-12-28', '', '999-47-5980', 'S99924274', 'X34074726X', 'Mrs.', 'Laura391', 'Iglesias873', '', 'Pacheco179', 'M', 'black', 'hispanic', 'F', 'Buenos Aires  Ciudad de Buenos Aires  AR', '112 Nikolaus Neck Suite 46', 'Sturbridge', 'Massachusetts', 'Worcester County', '', 42.136430577473995, -72.07669163088669, 1208687.58, 13256.169999999998)

In [2]:
import pandas as pd

#patient_pseudo = pd.read_sql_query("select id PATIENT, 'P'||random() ID from patients;", src_conn)
#patient_pseudo.head(10)

patient = pd.read_sql_query("select * from patients;", src_conn)
patient

medication = pd.read_sql_query("select * from medications;", src_conn)
medication

NameError: ignored

In [12]:
import pandas as pd
#patientmedication = pd.read_sql_query("select p.id, m.* from medications m join patients p on p.id = m.PATIENT", src_conn)
#patientmedication 
patientmedication = pd.read_sql_query("select distinct p.PATIENT, m.* from medications m join observations p on p.PATIENT = m.PATIENT",src_conn)
patientmedication 
#medication = pd.read_sql_query("select * from observations;", src_conn)
#medication

                                   PATIENT  ... REASONDESCRIPTION
0     3575b903-dbd0-1d55-6146-9e8aa4ed52a5  ...
1     aff157cc-b6d3-412b-ccbe-bfd5fac1c2d5  ...      Hypertension
2     aff157cc-b6d3-412b-ccbe-bfd5fac1c2d5  ...      Hypertension
3     aff157cc-b6d3-412b-ccbe-bfd5fac1c2d5  ...      Hypertension
4     aff157cc-b6d3-412b-ccbe-bfd5fac1c2d5  ...      Hypertension
...                                    ...  ...               ...
8531  31698580-0ef9-5510-bea6-0c7ae94b0efc  ...      Hypertension
8532  31698580-0ef9-5510-bea6-0c7ae94b0efc  ...      Hypertension
8533  31698580-0ef9-5510-bea6-0c7ae94b0efc  ...    Hyperlipidemia
8534  31698580-0ef9-5510-bea6-0c7ae94b0efc  ...      Hypertension
8535  31698580-0ef9-5510-bea6-0c7ae94b0efc  ...      Hypertension

[8536 rows x 14 columns]

### Copy a table from one database to another(create empty SQLite database)

### Transform ETL Job: Joint two table and write them into a new table

### Write ETL jobs for all Tables

### Write a Program that schedules the ETL jobs and execute them in order